#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.test {
	padding-top: 100px;
}

#time-chart label {
  position: relative;
  height: 100px;
  width: 5px;
  margin-top: 50px;
  margin-left: -35px; 
  text-align: left;
  /*transform: rotate(-45deg);*/
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  

}

.space {
    padding-top: 100px;
   }